body { /*dit is de achtergrond van de hele pagina*/
    background-color: darkgoldenrod; /*ik heb hier een gradient toegevoegd; twee kleuren die overlopen in elkaar*/
}

h1 { /*dit is de opmaak van de titel bovenaan de pagina*/
    background-color: maroon;
    color: white;
    padding: 10px; 
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
    text-align: center;
}

.toplevelmenu { /*dit is de opmaak van de taakbalk bovenaan de pagina*/
    list-style-type: none;
    margin: none;
    padding: 20px;
    overflow: hidden;
    background-color: maroon;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
} 

li { /*dit zorgt ervoor dat de links in de taakbalk aan de linkerklant komen te staan*/
    float: left; 
}

li a { /*dit is hoe de tekst van de taakbalk links zelf eruit ziet*/
    display: inline;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width: 30px;
}

li a:hover { /*dit zorgt voor een gradient van rood naar zwart naar rood achter de link als je erover hovert met je muis*/
    background-image: linear-gradient(90deg, black, maroon, black);
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.active { /*dit zorgt voor een gradient van rood naar zwart naar rood achter de link als je hem hebt aangeklikt*/
    background-image: linear-gradient(90deg, black, maroon, black);
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.footer{ /*dit is de opmaak van de footer*/
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: maroon;
    padding: 0;
    text-align: center;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}

.p2 { /*dit is de opmaak van de tekst zelf in de footer*/
    display: inline-block;
    color: white;
    font-family: "Lucida Handwriting", "Times New Roman", cursive;
}

.text1 { /*dit is de opmaak van de tekst op de pagina's, ze staan verdeeld per class omdat ze soms net wat anders moeten zijn*/
    color: black;
    padding: 15px;
    display: block;
    width: 1300px;
    margin: 20px;
    word-spacing: 5px;
    line-height: 20px;
    font-family:'Times New Roman', Times, serif;
    float: center;
    text-align: center;
    height: 800px;
}

.text2 {
    color: black;
    padding: 15px;
    display: inline;
    word-spacing: 5px;
    line-height: 20px;
    font-family:'Times New Roman', Times, serif;
    float: center;
    text-align: center;
    max-width: 100%;
}

.text3 {
    color: black;
    padding: 15px;
    display: block;
    width: 1300px;
    margin: 20px;
    word-spacing: 5px;
    line-height: 20px;
    font-family:'Times New Roman', Times, serif;
    float: center;
    text-align: center;
    height: 800px;
}

.text4 {
    color: black;
    padding: 15px;
    display: block;
    width: 1300px;
    margin: 20px;
    word-spacing: 5px;
    line-height: 20px;
    font-family:'Times New Roman', Times, serif;
    float: center;
    text-align: center;
    height: 800px;
}

.img1 { /*dit is de opmaak van de plaatjes op de pagina's, ze staan verdeeld per class omdat ze soms net wat anders moeten zijn*/
    border-radius: 8px;
    width: 40%;
    float: right;
    max-width: 100%;
    height: auto;
    margin-right: 10%;
    margin-left: 2%;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}

.img2 {
    border-radius: 8px;
    width: 10%;
    float: left;
    max-width: 100%;
    height: auto;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}

.img3 {
    border-radius: 8px;
    width: 600px;
    float: right;
    margin-right: 300px;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
    margin-left: 10px;
}

.img4 {
    border-radius: 8px;
    width: 40%%;
    float: right;
    max-width: 100%;
    height: auto;
    margin-right: 12%;
    margin-top: 7%;
    margin-left: 0.5%;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}

.img5 {
    border-radius: 8px;
    width: 500px;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
    float: right;
    margin-right: 300px;
    margin-left: 10px
}

.secondlevelmenu {
    display: none;
}

.secondlevelmenu > li:hover {
    display: block;
    position: absolute;
    background-color: maroon;
    margin-top: 15px;
    margin-left: -15px;
}